.card {
  display: flex;
  width: 108px;
  height: 108px;
  margin: 4px;
  border: 4px solid lightgray;
  background-color: skyblue;
  box-sizing: border-box;
}

.paired {
  border-color: lawngreen !important;
}
